
@{
    Layout = null;
    
}

<!DOCTYPE HTML>
<html>
<head>
    <script>
window.onload = function () {

var result = @Html.Raw(ViewBag.DataPoints);
var dataPoints =[];
for(var i = 0; i < result.length; i++){
	dataPoints.push({x:result[i].x, y:result[i].y});
}

var chart = new CanvasJS.Chart("chartContainer", {
    animationEnabled: true,
    title: {
        text: "DOANH THU TRONG MỘT NĂM"
    },
    axisX: {
        minimum: 1,
        maximum: 12
        
    },
    data: [
    {
        type: "line",
        dataPoints: dataPoints,
    }
    ]
});
chart.render();

};
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>
