
@{
    Layout = null;
    var CategoryID = Session["cateID"];
}
@model List<TWANCOSMETICS.Models.Brand>

<h4>Thương hiệu</h4>

@foreach (var item in Model)
{


    <li>@Html.ActionLink(item.name, "Index", "Product", new { cateID = CategoryID, brandID = item.id }, null)</li>

}