
@{
    Layout = null;
    var BrandID = Session["brandID"];
}

@model  List<TWANCOSMETICS.Models.Category>
<div id="flip"><h3><u>Danh mục</u></h3></div>
<div id="panel">
    <ul>

        @{
            foreach (var item in Model)
            {
                <li>@Html.ActionLink(item.name, "Index", "Product", new { cateID = item.id, brandID = BrandID }, null)</li>

            }
        }

    </ul>
</div>